@media only screen and (min-width: 1000px) {
  .home {
    #homeText {
      margin-left: 100px;
      padding-top: 100px;
      text-align: center;
      width: 30%;

      h2 {
        font-family: "Rozha One", serif;
        margin-bottom: 0;
        font-size: 28pt;
      }

      h3 {
        font-size: 25pt;
        font-weight: 400;
      }
      #rsvpHold {
        margin-top: 60px;
        #homeRsvp {
          background: #35494c;
          width: 100px;
          height: 60px;
          padding: 20px 40px;
          border-radius: 10px;
          transition: all 400ms;
          color: white;
          text-decoration: none;
          font-size: 25pt;

          &:hover {
            background: #6e9499;
          }
        }
      }
    }

    #homepic {
      position: fixed;
      top: 10%;
      right: 10%;
      z-index: 10;
      max-width: 45%;
      max-height: 80%;
    }

    #ouradventure {
      width: 100%;
      max-width: 400px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .home {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    #homeText {
      text-align: center;

      h2 {
        font-family: "Rozha One", serif;
        margin-bottom: 0;
        font-size: 16pt;
      }

      h3 {
        font-size: 14pt;
        font-weight: 400;
      }

      #ouradventure {
        display: none;
      }
    }

    #homepic {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
