@font-face{
  font-family: "Fancy";
  src: local('MyFont'), url("./Font/MyFont.ttf") format('truetype');
}

h1 {
  font-family: "Fancy";
}

h2 {
  font-family: "Fancy";
}

@media (min-width: 1000px) {
  body {
    height: 100%;
    min-height: calc(100vh - 350px);
  }
  
  h1 {
    font-size: 52pt;  
  }

  h2 {
    font-size: 20pt;
    margin-top: 0;
  }

  h3 {
    font-size: 15pt;
  }

  p {
    font-size: 15pt;
    font-style: Rozha One, serif;
  }

  .wrapper {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
    margin-right: auto;
    margin-left: auto;
    min-height: calc(100vh - 483px);
    background: linear-gradient(#F5FAF8, #CBE2D6);
  }

  .home {
    min-height: calc(100vh - 405px);
    background: linear-gradient(#F5FAF8, #CBE2D6);
  }

  h2 {
    text-align: center;
    font-weight: 400;
    font-size: 48pt;
  }
}

@media (max-width: 1000px) {
  h1, h2 {
    text-align: center;
  }
  
  body {
    //background-color: #CBE2D6;
    background: linear-gradient(#F5FAF8, #CBE2D6);
    height: 100%;
    min-height: calc(100vh - 350px);
  }

  .wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 146px);
  }

  .home {
    min-height: calc(100vh - 146px);
  }
}