body {
  //background-color: #CBE2D6;

  background: linear-gradient(#F5FAF8, #CBE2D6);

  height: 100%;

  min-height: 1000px;

}

h1 {
  font-size: 52pt;
}

h2 {
  font-size: 20pt;
}

p {
  font-size: 15pt;
}

@media (min-width: 1000px) {
  .wrapper {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    // margin: 0 10px 10px 0;
  }
}